.board {
 display: flex;
 flex-direction: column;
 max-width: 250px;
 margin-left: 10px;
 margin-right: 10px;
 margin-bottom: 22px;
}

.board__image {
    margin-bottom: 8px;
    position: relative;
    float: left;
    width: 250px;
    height: 350px;
    background-position: 50% 50%;
    background-repeat:  no-repeat;
    background-size: cover; 
}

.board__image:hover {
    cursor: pointer;
}

.board__meta {
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 0.92px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    opacity: 0.5;
    text-align: center;
}

.board__meta label:nth-child(1) {
    margin-right: 10px;
}
.board__meta label:nth-child(2) {
    margin-left: 10px;
}

.board__name {
    font-size: 14px;
    letter-spacing: 0.92px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    text-align: center;
}

.board__price {
    font-size: 12px;
    letter-spacing: 0.92px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    text-align: center;
}

