.button {
  height: 48px;
  font-family: 'Montserrat', sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 500;
  border: none;
  line-height: 48px;
      display: block;
      text-align: center;
      text-decoration: none;
}

.button:focus, .button:active {
  outline: none;
}

.button:hover {
  cursor: pointer;
}

.button--green {
  background-color: #498144;
  color: #FFFFFF;
}

.button--black {
  background-color: #252525;
  color: #FFFFFF;
}

.button--large {
  width: 100%;
}

.button--small {
  width: 250px;
}
