.table-header {
  display: flex;
  width: 100%;
  border-bottom: 1px solid black;
}

.table-row {
  display: flex;
  align-items: center;
  height: 58px;
  width: 100%;
  border-bottom: 1px solid rgba(01,01,01,0.3);
  transition: .2s ease;
}


.table-row:hover {
  cursor: pointer;
  background-color: rgba(01,01,01,0.05);
}
